/* bootstrap override */
.navbar {
    background: #2867cc;
}
.nav-link, .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em;
}
.nav-link:hover {
    background: #f4f4f4;
    color: #2867cc;
}

.navbar-brand:hover {
    color: blue;
}

.navbar-collapse {
    justify-content: flex-end;
}
.navbar-toggler {
    background:#fff !important;
}

.navbar-toggler-icon,
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    position: relative;
    margin-top: -4px;
    width: 20px;
    height: 2px;
    background-color: #2867cc;
}
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    display: block;
}

.navbar-toggler-icon::before {
    transform: translateY(-2px);
}

.navbar-toggler-icon::after {
    transform: translateY(12px);
}


/* header style */
.header {
    position: relative;
    background-image: url('../images/logo.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.1);
}

.description {
    position: relative;
    margin-top: 5%;
    padding: 2em;
}
.description h3 {
    color: #2867cc ;
}
.description p {
    color:#666;
    font-size: 20px;
    width: 100%;
    line-height: 1.5;
}

#screenshots h1 {
    margin-bottom: 30px;
}

.tab {
    margin: 3em 0;
    position: relative;  
}

.tab h1 {
    color:#2867cc;
}

/* carousel  */
.carousel-inner div {
    margin-left: auto;
    margin-right: auto;
}

.carousel-item-prev,
.carousel-item-next,
.carousel-item.active {
    display: flex;
}


/* control image height */
.card-img {
    overflow: hidden;
}

/* smoother transitions */
/* .carousel-inner>.carousel-item.next.left,
.carousel-inner>.carousel-item.prev.right, {
    transition: all 1s ease;
} */

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232867cc' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232867cc' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}


.desc {
    padding: 2em;
    border-left: 4px solid #10828C;
}

.page-footer {
    background-color: #2867cc;
    padding: 5px;
}
.footer-copyright {
    color: #f4f4f4;
    padding-left: 0;
}
.footer-copyright a span {
    color: #f4f4f4;
}

.footer-img {
    padding-right: 0;
}

.footer-img img {
    width: 120px;
    float: right;
}

/* mobile */

@media screen and (max-width: 768px) {
    .tab h1 {  
        margin: 0;
    }
    .tab {
        margin: 2em 0;
    }

}

@media screen and (max-width: 1024px) {
    .nav-item {
        margin-left: -5px;
    }
    .nav-item .nav-link {
        padding-left: 10px;
        margin-right: 0;
    }
}    

